
<div class="container">
<h2> <%= vehicle.model %> </h2>

<h4> By 
	<%= vehicle.make %>
</h4>

<div>
	I can show vehicle reservations here.
</div>

<p>
	The number of seats: 
	<%= vehicle.numSeats %>
</p>

<hr>
<div>
	<h3> Comments </h3>
	<% vehicle.comments.forEach(function(c) {%>
	<div> <%= c.content %> </div>
	<div><em>- Someone </em></div>
	<hr>
	<%});%>
</div>

<div>
	<h5> what are your thoughts ? (Currently, This is a dumb box that won't get save in the database) </h5>
	<form method="POST" action="/comments"> 
		<div class="form-group">
			<label> Comment:</label>
			<textarea name="content">  </textarea>
		</div>

		<input type="hidden" name="vehicleId" value="<%= vehicle.id %>">
		<input type="submit" value="Add comment" class="btn btn-warning">

	</form>
</div>


</div>