<div class="container">
  <div class="row">
    <div class="col s12 m9">
      <div class="card-panel darken-1 center">
        <h2>Create New Reservation</h2>
           <h5> For <%= currentUser.firstname %> </h5>

        <div class="row">

          <form class="col s12" method="POST" action="/reservations">

            <div class="row">
              <div class="input-field col s12 m5">
                <select name="userId">
                  <option value="1" selected><%= currentUser.id %></option>
                </select>
                <label>Your user ID will be associated with the reservation</label>
              </div>
            </div>

            <div class="row">
              <div class="input-field col s12 m8">
                <select class="icons" name="vehicleId">
                  <option value="" selected>Choose your option</option>
                  <% vehicle.forEach(function(v) { %> 
                  <option name="vehicleId" value="<%= v.id %>"> This vehicle <%= v.make %> - <%= v.model %> </option>
                  <%  });  %>

                </select>
                <label>Pick your cars</label>
              </div>
            </div>

            <div class="row">
              <div class="input-field col s8">
                <input name="startDate" type="text" class="datepicker">
                <label for="startDate">Start date</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s8">
                <input name="endDate" type="text" class="datepicker">
                <label for="endDate">End Date</label>
              </div>
            </div>
            <div class="row">
              <div class="col s12">
                Comments:
                <div class="input-field inline">
                  <input id="email_inline" type="text" class="validate">
                  <label for="email_inline">Notes</label>
                  <span class="helper-text" data-error="wrong" data-success="right">Please leave notes here if any.</span>
                </div>
              </div>
            </div>
            <input id="get-button" type="submit" value="Book Now" class="btn btn-primary green darken-2">
          </form>

        </div>
      </div>
    </div>
  </div>
</div>