<div class="container">
	<h2> #<%= reservation.id %></h2>

	<h4> vehicle info associated with this reservation: </h4>

	<p> # <%= reservation.vehicle.make %> </p>
	<p> # <%= reservation.vehicle.model %> </p>
	<p> # <%= reservation.startDate %> </p>
	<p> # <%= reservation.endDate %> </p>

	<a href="/reservations/edit/<%=reservation.id%>" class="btn btn-warning">
		Change tag?	
	</a>
	<a href="/reservations/<%=reservation.id%>" class="btn btn-danger delete-btn">
		Delete tag?	
	</a>

</div>