<h2> #<%= reservation.id %></h2>

<h4> vehicles associated with #<%= reservation.id %></h4>

<% reservation.userId.forEach(function(a){%>
		<div>
			<a href="/reservations/<%= a.id %>">
			<%= a.title %>
			</a>
		</div>
<% }); %>


<a href="/reservations/edit/<%=reservation.id%>" class="btn btn-warning">
	Change tag?	
</a>
<a href="/reservations/<%=reservation.id%>" class="btn btn-danger delete-btn">
	Delete tag?	
</a>